padding {
    margin: 0;
}

#button-selection {
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
}

button {
    padding: 5px;
    margin: 5px;
}

#roundSelection, #roundResults {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

#finalResults {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}